

body, html {
    height: 100%;
    padding-top: 56px;
  }
  
  .parallax, .parallax1 {
    /* The image used */
    background-image: url('../images/dcall.jpg');
    width: 200rem;
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax1 {
    background-image: url('../images/bgpara.jpg');
  }

footer {
    background-color: #f8f9fa;
    padding: 20px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.jumbotron {
    background-image: url('../images/planebg.jpg');
    background-size: cover;
    background-position: center;
    height: inherit;
    
}



@media (max-width: 767.98px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

